<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Willkommen zu Echtjetzt
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="stacked">Möchten Sie eine Webseite auf ihre Authenzitität prüfen ?</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Möchten Sie einen Text auf ihre Authenzitität prüfen ?</ion-label>
        <ion-textarea rows="6" cols="20"></ion-textarea>
    </ion-item>
    <ion-button expand="full">Jetzt Prüfen</ion-button>



</ion-content>