<ion-header class="dekstop">
    <div class="logoheader middle">
        <div>
            <img src="/assets/EchtJetztLogoSchrift.svg" />
        </div>
        <div>

        </div>

    </div>
</ion-header>
<ion-content class="dekstop dekstopmain">
    <div>
        <div class="searchContainer middle">
            <div>
                <textarea (input)="onChange()" [(ngModel)]="inputText" placeholder="Text oder URL einfügen"></textarea>
            </div>
            <div>
                <ion-button class="cpm" fill="clear">
                    <i class="mdi mdi-chevron-right mdi-48px"></i>
                </ion-button>
            </div>
            <div *ngIf="switchResult == 1">
                <h1>Willkommen bei EchtJetzt</h1>
                <div>
                    Überprüfen Sie kostenlos Texte über Corona/Corvid 19 auf ihren Wahrheitsgehalt.
                </div>

                <ion-button class="cpsm" fill="clear">
                    <i class="mdi mdi-content-copy mdi-24px"></i>
                </ion-button>
                <ion-button class="csm" fill="clear">
                    <i class="mdi mdi-share-variant mdi-24px"></i>
                </ion-button>
            </div>
            <div class="loaderCls" *ngIf="switchResult == 2">
                <ng-lottie [options]="optionsLoader"></ng-lottie>

            </div>
            <div class="styleOutput" *ngIf="switchResult == 3">
                <div>
                    <div class="radialProgressBar progress-{{answer.percent}}">
                        <div class="overlay">{{answer.percent}}%</div>
                    </div>
                </div>
                <div>
                    Dieses Information ist zu {{answer.percent}}% vertrauens-würdig, weil sie mit Folgenden Quellen übereinstimmt:
                </div>
                <div class="link" *ngFor="let item of answer.quellen">
                    <h2><span>Quelle {{item.quelle}} ({{item.link}})</span></h2>
                    <div>
                        <div [style.width.%]="answer.percent">

                        </div>
                    </div>
                    <label>Stand {{item.stand | date:'dd.MM.yyyy HH:mm'}}</label>
                </div>

                <ion-button class="cpm" fill="clear">
                    <i class="mdi mdi-content-copy mdi-24px"></i>
                </ion-button>
                <ion-button class="csm" fill="clear">
                    <i class="mdi mdi-share-variant mdi-24px"></i>
                </ion-button>

            </div>
        </div>
        <div class="middle2 overus">
            <h1>Über Uns</h1>
            <div>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
            </div>
        </div>
    </div>

</ion-content>
<ion-footer class="dekstop middle">
    <div>
        <div>
            <label>Datenschutz</label>
        </div>
        <div>
            <label>AGB</label>
        </div>
        <div>
            <label>Impressum</label>
        </div>
    </div>
</ion-footer>
<ion-header class="mobile">
    <div class="logoheader">
        <div>
            <img src="/assets/EchtJetztLogoSchrift.svg" />
        </div>
        <div>
            <i class="mdi mdi-help-circle-outline mdi-36px"></i>
        </div>

    </div>
</ion-header>
<ion-content class="mobile mobilemain">
    <div>
        <div>
            <div *ngIf="switchLongText === false">
                <input (input)="onChange()" [(ngModel)]="inputText" placeholder="Text oder URL einfügen" />
                <ion-button (click)="paste()" class="cpm" fill="clear">
                    <i class="mdi mdi-plus-circle-outline mdi-18px"></i>
                </ion-button>
            </div>
            <div class="longTextArea" *ngIf="switchLongText === true">
                <textarea placeholder="Text oder URL einfügen" (click)="paste()" [(ngModel)]="inputText">

                </textarea>
                <ion-button style="top: 0px;
                position: absolute;
                right: 0px;background: transparent;" class="cpm" fill="clear">
                    <i class="mdi mdi-plus-circle-outline mdi-18px"></i>
                </ion-button>
            </div>
        </div>
        <div>
            <ion-button (click)="switchLongText = !switchLongText" class="cpm" fill="clear">
                <i class="mdi mdi-chevron-down mdi-48px"></i>
            </ion-button>
        </div>
        <div *ngIf="switchResult == 1">
            <h1>Willkommen bei EchtJetzt</h1>
            <div>
                Überprüfen Sie kostenlos Texte über Corona/Corvid 19 auf ihren Wahrheitsgehalt.
            </div>

            <ion-button class="cpsm" fill="clear">
                <i class="mdi mdi-content-copy mdi-24px"></i>
            </ion-button>
            <ion-button class="csm" fill="clear">
                <i class="mdi mdi-share-variant mdi-24px"></i>
            </ion-button>
        </div>
        <div class="loaderCls" *ngIf="switchResult == 2">
            <ng-lottie [options]="optionsLoader"></ng-lottie>

        </div>
        <div class="styleOutput" *ngIf="switchResult == 3">
            <div>
                <div class="radialProgressBar progress-{{answer.percent}}">
                    <div class="overlay">{{answer.percent}}%</div>
                </div>
            </div>
            <div>
                Dieses Information ist zu {{answer.percent}}% vertrauens-würdig, weil sie mit Folgenden Quellen übereinstimmt:
            </div>
            <div class="link" *ngFor="let item of answer.quellen">
                <h2><span>Quelle {{item.quelle}} ({{item.link}})</span></h2>
                <div>
                    <div [style.width.%]="answer.percent">

                    </div>
                </div>
                <label>Stand {{item.stand | date:'dd.MM.yyyy HH:mm'}}</label>
            </div>

            <ion-button class="cpm" fill="clear">
                <i class="mdi mdi-content-copy mdi-24px"></i>
            </ion-button>
            <ion-button class="csm" fill="clear">
                <i class="mdi mdi-share-variant mdi-24px"></i>
            </ion-button>

        </div>
    </div>
</ion-content>
<ion-footer class="mobile">
    <div>
        <div>
            <label>Datenschutz</label>
        </div>
        <div>
            <label>AGB</label>
        </div>
        <div>
            <label>Impressum</label>
        </div>
    </div>
</ion-footer>
<img class="mybgh mobile" src="/assets/oval.svg" />
<img class="mybgi dekstop" src="/assets/oval.svg" />